body {
    background: #EEEEEE;
}

.container {
    
    justify-content: center;
    align-items: center;
    height: 10vh;
    width: 70vw; 
}

@media screen and (max-width: 550px) {
    .container{
       width: 100%; 
    }
}


